
# System containers will require mount points for the following
mkdir -p /dev
mkdir -p /proc
mkdir -p /sys/fs/cgroup

# In order for the package manager to function /dev/null, /dev/random and
# /dev/urandom must exist. This is is being run here because some images do not
# create /dev/null by default.
[ ! -e /dev/null ] && mknod -m 0666 /dev/null c 1 3
[ ! -e /dev/random ] && mknod -m 0666 /dev/random c 1 8
[ ! -e /dev/urandom ] && mknod -m 0666 /dev/urandom c 1 9

# Create the directory where local facts will be stored
mkdir -p /etc/ansible/facts.d

# Create the backups directory
mkdir -p /var/backup

# Create networkd directory
mkdir -p /etc/systemd/network

# Remove the journal directory
rm -rf /var/log/journal || true

# Create the cache resolvers
rm /etc/resolv.conf || true
{% for resolver in nspawn_cache_prep_dns %}
echo "nameserver {{ resolver }}" >> /etc/resolv.conf
{% endfor %}

rm /etc/machine-id || true
rm /var/lib/dbus/machine-id || true
rm /etc/sysctl.d/* || true

mkdir -p /root/.ssh
chmod 700 /root/.ssh

mkdir -p /var/lib/empty
chmod -R 755 /var/lib/empty

if [[ -e "/etc/securetty" ]]; then
  chmod 600 /etc/securetty
fi

chage -I -1 -d -1 -m 0 -M 99999 -E -1 root || true
